body {
  background-color: #faf8ed;
  font-family: futura;
  color: #322311;
}
  h1 {
    display: block;
    margin:auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 400%;

  }
img{
  max-width: 250px;
  display: block;
  margin: 20px auto;
}


div {
  id="wrapper"
  display: block;
  width: 100%;
  padding: auto;
  text-align: center;
  font-size: 100%;
  height: 20px;
  background-color: #8a5d3b;
  color: #faf8ed;
  border-width: 0px;
}

}

.center{
    display: block;
    margin: 0 auto;
    width:100%;
}
.col{
   width:100%;
}

footer{
    text-align: center;
    background-color: #b1cbbb;
    padding:20px 0;
}
footer a{
    color:#194035;
    text-decoration: none;
}

@media only screen and (min-width:700px){
    /* ---- Desktop styles below ---- */
    .col{
        width:45%;
        float:left;
        padding:2%;
    }
    .row::after{
        display: table;
        clear:both;
        content:"";
    }
}
